<section class="box special features">
  <div class="features-row">
    <section>
      <span class="icon major fas fa-bolt accent3"></span>
      <h3>FAN STATUS: {{currentData.fan}}</h3>
      <p> Live feedback from the sensory system (RASPBERRY PI 2) on whether the fan is ON or OFF. Recorded at: {{currentData.timestamp}}</p>
    </section>
    <section>
      <span class="icon major fa-thermometer-quarter accent2"></span>
      <h3>TEMPERATURE: {{currentData.temp}}</h3>
      <p>Live feedback from the sensory system (RASPBERRY PI 2) on the surrounding temperature in the garden. Recorded at: {{currentData.timestamp}}</p>
    </section>
  </div>
 
</section>
